### {{ ansible_managed }} - {{ ansible_fqdn }}
###
### mapletree.moe - systemd timer file
### https://www.freedesktop.org/software/systemd/man/latest/systemd.timer.html
###
### commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

[Unit]
Description=Aide check every day at midnight

[Timer]
OnCalendar=*-*-* 00:00:00
Unit=aidecheck.service

[Install]
WantedBy=multi-user.target
