### {{ ansible_managed }} - {{ ansible_facts['fqdn'] }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###
### commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

[Unit]
Description=Authelia container
Documentation=https://github.com/authelia/authelia
After=traefik.service
Requires=authelia-db.service authelia-redis.service

[Service]
Restart=on-failure

[Container]
AutoUpdate=registry
ContainerName=authelia
Image=docker.io/authelia/authelia:4.38
Network=frontend.network:ip=172.16.0.6
Network=backend.network

# environmental variables
Environment=AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/run/secrets/authelia-encryption-key
Environment=AUTHELIA_ACCESS_CONTROL_DEFAULT_POLICY=deny
Environment=AUTHELIA_THEME=dark
# Environment=AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE=/run/secrets/authelia-oidc-hmac-secret

# ldap
Environment=AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDRESS=ldap://lldap:3890
Environment=AUTHELIA_AUTHENTICATION_BACKEND_LDAP_BASE_DN=dc={{ containers_lldap_base_dn_domain }},dc={{ containers_lldap_base_dn_extension }}
Environment=AUTHELIA_AUTHENTICATION_BACKEND_LDAP_IMPLEMENTATION=lldap
Environment=AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE=/run/secrets/lldap-password-manager-pass
Environment=AUTHELIA_AUTHENTICATION_BACKEND_LDAP_USER=uid=lldap_password_manager,ou=people,dc={{ containers_lldap_base_dn_domain }},dc={{ containers_lldap_base_dn_extension }}
Environment=AUTHELIA_AUTHENTICATION_BACKEND_REFRESH_INTERVAL=1m

# identity validation
Environment=AUTHELIA_IDENTITY_VALIDATION_ELEVATED_SESSION_REQUIRE_SECOND_FACTOR=true
Environment=AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_ALGORITHM=HS512
Environment=AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_LIFESPAN=5m
Environment=AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/run/secrets/authelia-reset-password-jwt-secret

# smtp notifier
Environment=AUTHELIA_NOTIFIER_SMTP_ADDRESS=smtp://{{ containers_authelia_smtp_host }}:{{ containers_authelia_smtp_port }}
Environment=AUTHELIA_NOTIFIER_SMTP_USERNAME={{ containers_authelia_smtp_user }}
Environment=AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE=/run/secrets/authelia-smtp-password
Environment=AUTHELIA_NOTIFIER_SMTP_SENDER="Authelia <admin@{{ ansible_facts['domain'] }}>"
Environment=AUTHELIA_NOTIFIER_SMTP_IDENTIFIER={{ ansible_facts['fqdn'] }}
Environment=AUTHELIA_NOTIFIER_SMTP_STARTUP_CHECK_ADDRESS=test@{{ ansible_facts['domain'] }}

# password policy
Environment=AUTHELIA_PASSWORD_POLICY_ZXCVBN_ENABLED=true
Environment=AUTHELIA_PASSWORD_POLICY_ZXCVBN_MIN_SCORE=3

# TODO: Privacy Policy

# regulator
Environment=AUTHELIA_REGULATION_MAX_RETRIES=3
Environment=AUTHELIA_REGULATION_FIND_TIME=2m
Environment=AUTHELIA_REGULATION_BAN_TIME=5m

# postgres + redis
Environment=AUTHELIA_SESSION_REDIS_HOST=authelia-redis
Environment=AUTHELIA_SESSION_SECRET_FILE=/run/secrets/authelia-session-secret
Environment=AUTHELIA_STORAGE_POSTGRES_ADDRESS=tcp://authelia-db:5432
Environment=AUTHELIA_STORAGE_POSTGRES_DATABASE=authelia
Environment=AUTHELIA_STORAGE_POSTGRES_PASSWORD=authelia
Environment=AUTHELIA_STORAGE_POSTGRES_USERNAME=authelia

# 2FA
Environment=AUTHELIA_TOTP_ISSUER={{ ansible_facts['domain'] }}
Environment=AUTHELIA_WEBAUTHN_DISPLAY_NAME={{ ansible_facts['domain'] }}
Environment=AUTHELIA_WEBAUTHN_TIMEOUT=30s

# health check
HealthCmd=wget --quiet --no-check-certificate --tries=1 --spider "http://127.0.0.1:9091/api/health" || exit 1
HealthInterval=5s
HealthRetries=3
HealthStartPeriod=15s
HealthTimeout=30s

# automatically configure traefik to proxy the web service
Label=traefik.enable="true"
Label=traefik.http.routers.authelia.rule="Host(`auth.{{ ansible_facts['domain'] }}`)"
Label=traefik.http.routers.authelia.middlewares="securityHeaders"
Label=traefik.http.services.authelia.loadbalancer.server.port=9091
Label=traefik.http.middlewares.authelia.forwardauth.address="http://authelia:9091/api/authz/forward-auth"
Label=traefik.http.middlewares.authelia.forwardauth.trustForwardHeader="true"
Label=traefik.http.middlewares.authelia.forwardauth.authResponseHeaders="Remote-User,Remote-Groups,Remote-Name,Remote-Email"

# secrets
Secret=authelia-encryption-key,type=mount,uid=1000
Secret=authelia-oidc-hmac-secret,type=mount,uid=1000
Secret=authelia-reset-password-jwt-secret,type=mount,uid=1000
Secret=authelia-session-secret,type=mount,uid=1000
Secret=authelia-smtp-password,type=mount,uid=1000
Secret=lldap-password-manager-pass,type=mount,uid=1000

# volumes
Volume=%h/containers/authelia/config.yaml:/config/configuration.yml:ro,Z

[Install]
WantedBy=default.target
