### {{ ansible_managed }} - {{ ansible_facts['fqdn'] }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###
### commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

[Unit]
Description=Authelia Redis Volume
Documentation=https://hub.docker.com/_/postgres

[Volume]
VolumeName=authelia-redis
