### {{ ansible_managed }} - {{ ansible_fqdn }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###
### commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

[Unit]
Description=Podman Backend Network
Documentation=https://docs.podman.io/en/stable/markdown/podman-network.1.html

[Network]
NetworkName=backend
Internal=true
