# {{ ansible_managed }}
# {{ ansible_fqdn }}
# {{{{ template_path|basename + lookup('pipe', 'git log --format=",%%h %%ad %%ae" -1 --date=format:"%%Y/%%m/%%d %%H:%%M" ' + template_fullpath|quote)|default(",UNCOMMITED", True) }}}}

[Socket]
# forward 80 to 8080 using firewalld
ListenStream=0.0.0.0:8080
FileDescriptorName=web
Service=traefik.service

[Install]
WantedBy=sockets.target
