### {{ ansible_managed }} - {{ ansible_facts['fqdn'] }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###

[Unit]
Description=Kopia Container
Documentation=https://kopia.io/docs/
After=podman-user-wait-network-online.service

[Service]
Restart=on-failure

[Container]
ContainerName=kopia
Image={{ services['kopia']['image'] }}
Network=frontend.network
{% if containers_enable_kopia_repo_server %}
Exec=server start --address=https://0.0.0.0:8080 \
--tls-cert-file /app/config/certificate.pem \
--tls-key-file /app/config/certificate.key \
--no-ui \
--content-cache-size-limit-mb {{ containers_kopia_content_cache }} \
--metadata-cache-size-limit-mb {{ containers_kopia_metadata_cache }} \
--server-control-username {{ containers_kopia_control_user }} \
--server-control-password {{ containers_kopia_control_pass }}
{% endif %}

# labels
{% if containers_enable_kopia_repo_server %}
Label=traefik.enable="true"
Label=traefik.http.routers.kopia.rule="Host(`{{ ansible_facts['hostname'] }}.{{ ansible_facts['domain'] }}`)"
Label=traefik.http.services.kopia.loadbalancer.server.scheme=https
Label=traefik.http.services.kopia.loadbalancer.server.port=8080
{% endif %}

# secrets
{% if containers_enable_kopia_repo_server %}
Secret=kopia-repo-password,type=env,target=KOPIA_PASSWORD
{% endif %}

# volumes
Volume=kopia-cache.volume:/app/cache:Z
Volume=kopia-config.volume:/app/config:Z
Volume=kopia-logs.volume:/app/logs:Z

{% if containers_enable_kopia_repo_server %}
Volume=/home/podman/containers/config/kopia/repository.config:/app/config/repository.config:Z
Volume=/home/podman/containers/config/kopia/certificate.pem:/app/config/certificate.pem:Z
Volume=/home/podman/containers/config/kopia/certificate.key:/app/config/certificate.key:Z
{% endif %}

[Install]
WantedBy=default.target
