### {{ ansible_managed }} - {{ ansible_facts['fqdn'] }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###
### commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

[Unit]
Description=LLDAP-DB container
Documentation=https://hub.docker.com/_/postgres
After=podman-user-wait-network-online.service

[Service]
Restart=on-failure

[Container]
AutoUpdate=registry
ContainerName=lldap-db
Image={{ services['postgres']['image'] }}
Network=backend.network

# health check
HealthCmd=pg_isready -U lldapuser -d lldap
HealthInterval=5s
HealthRetries=3
HealthStartPeriod=15s
HealthTimeout=30s

# environmental variables
Environment=POSTGRES_DB=lldap
# SECURITY: one day it would be nice to use secrets for these
Environment=POSTGRES_PASSWORD=lldappass
Environment=POSTGRES_USER=lldapuser

Volume=lldap-db.volume:/var/lib/postgresql/data:Z

[Install]
WantedBy=default.target
