### {{ ansible_managed }} - {{ ansible_facts['fqdn'] }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###
### commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

[Unit]
Description=LLDAP container
Documentation=https://github.com/lldap/lldap
After=traefik.service
Requires=lldap-db.service

[Service]
Restart=on-failure

[Container]
AutoUpdate=registry
ContainerName=lldap
Image=docker.io/lldap/lldap:stable-debian
Network=frontend.network
Network=backend.network

# environmental variables
Environment=UID=1000
Environment=GID=1000
Environment=LLDAP_LDAP_BASE_DN=dc={{ containers_lldap_base_dn_domain }},dc={{ containers_lldap_base_dn_extension }}
# SECURITY: one day it would be nice to use secrets for these
Environment=LLDAP_DATABASE_URL=postgres://lldapuser:lldappass@lldap-db/lldap
Environment=LLDAP_KEY_SEED_FILE=/run/secrets/lldap-key-seed
Environment=LLDAP_JWT_SECRET_FILE=/run/secrets/lldap-jwt-secret
Environment=LLDAP_LDAP_USER_EMAIL=admin@{{ ansible_facts['domain'] }}
Environment=LLDAP_LDAP_USER_PASS_FILE=/run/secrets/lldap-ldap-user-pass

# bootstrap environmental variables
Environment=LLDAP_URL=http://localhost:17170
Environment=LLDAP_ADMIN_USERNAME=admin
Environment=LLDAP_ADMIN_PASSWORD_FILE=/run/secrets/lldap-ldap-user-pass

# health check
HealthCmd=/app/lldap healthcheck
HealthInterval=5s
HealthRetries=3
HealthStartPeriod=15s
HealthTimeout=30s

# automatically configure traefik to proxy the web service
Label=traefik.enable="true"
Label=traefik.http.routers.lldap.rule="Host(`lldap.{{ ansible_facts['fqdn'] }}`)"
Label=traefik.http.routers.lldap.middlewares="securityHeaders"
Label=traefik.http.services.lldap.loadbalancer.server.port=17170

# secrets
# FIXME: use files if possible
Secret=lldap-jwt-secret,type=mount,uid=1000
Secret=lldap-key-seed,type=mount,uid=1000
Secret=lldap-ldap-user-pass,type=mount,uid=1000

# volumes
Volume=%h/containers/lldap:/bootstrap:ro,Z

[Install]
WantedBy=default.target
