#  SPDX-License-Identifier: LGPL-2.1-or-later
### {{ ansible_managed }} - {{ ansible_fqdn }}
###
### mapletree.moe - user target to detect network activation
### https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html
###
### commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Network is Online
Documentation=man:systemd.special(7)
Documentation=https://systemd.io/NETWORK_ONLINE
