### {{ ansible_managed }} - {{ ansible_facts['fqdn'] }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###

[Unit]
Description=Sonarr container
Documentation=https://github.com/Sonarr/Sonarr
After=podman-user-wait-network-online.service
Wants=traefik.service

[Service]
Restart=on-failure

[Container]
ContainerName=sonarr
Image={{ services['sonarr']['image'] }}
Network=frontend.network

# environment variables
Environment=SONARR__APP__THEME=dark
Environment=SONARR__APP__INSTANCENAME=sonarr
Environment=SONARR__AUTH__METHOD=External
Environment=SONARR__AUTH__REQUIRED=DisabledForLocalAddresses

# health check
HealthCmd=curl http://127.0.0.1:8989/ping
HealthInterval=5s
HealthRetries=3
HealthStartPeriod=15s
HealthTimeout=30s

# automatically configure traefik to proxy the web service
Label=traefik.enable="true"
Label=traefik.http.routers.sonarr.rule="Host(`sonarr.{{ ansible_facts['fqdn'] }}`)"
Label=traefik.http.routers.sonarr.middlewares="secured"
Label=traefik.http.routers.sonarr.tls="true"
Label=traefik.http.routers.sonarr.tls.certresolver="letsencrypt"
Label=traefik.http.services.sonarr.loadbalancer.server.port=8989

# secrets
Secret=sonarr-api-key,type=env,target=SONARR__AUTH__APIKEY

# volumes
Volume=sonarr.volume:/config:Z

[Install]
WantedBy=default.target
