# {{ ansible_managed }}
# {{ ansible_fqdn }}
# TODO: it would be nice to have the recent git commit here
# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Network]
NetworkName=traefik
