### {{ ansible_managed }} - {{ ansible_facts['fqdn'] }}
###
### mapletree.moe - podman quadlet file
### https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
###

[Unit]
Description=Traefik container
Documentation=https://traefik.io
Requires=traefik-web.socket traefik-websecure.socket
After=podman-user-wait-network-online.service

[Service]
Restart=on-failure
Sockets=traefik-web.socket traefik-websecure.socket

[Container]
ContainerName=traefik
Image={{ services['traefik']['image'] }}
Network=frontend.network
SecurityLabelType=traefik.process

# environment variables
# https://doc.traefik.io/traefik/reference/static-configuration/env/
Environment=TRAEFIK_API="true"
Environment=TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt="true"
Environment=TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_EMAIL="admin@{{ ansible_facts['domain'] }}"
{% if containers_traefik_staging_ssl %}
Environment=TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_CASERVER="https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
Environment=TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_STORAGE="/etc/traefik/acme.json"
Environment=TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_TLSCHALLENGE="true"
Environment=TRAEFIK_ENTRYPOINTS_web_FORWARDEDHEADERS_INSECURE="false"
Environment=TRAEFIK_ENTRYPOINTS_web_FORWARDEDHEADERS_TRUSTEDIPS="172.16.0.0/24"
Environment=TRAEFIK_ENTRYPOINTS_web_HTTP_REDIRECTIONS_ENTRYPOINT_TO="websecure"
Environment=TRAEFIK_ENTRYPOINTS_web_HTTP_REDIRECTIONS_ENTRYPOINT_SCHEME="https"
Environment=TRAEFIK_ENTRYPOINTS_web_HTTP_REDIRECTIONS_ENTRYPOINT_PERMANENT="true"
Environment=TRAEFIK_ENTRYPOINTS_web_PROXYPROTOCOL_INSECURE=false
Environment=TRAEFIK_ENTRYPOINTS_web_PROXYPROTOCOL_TRUSTEDIPS=172.16.0.0/24
Environment=TRAEFIK_ENTRYPOINTS_web_FORWARDEDHEADERS_INSECURE=false
Environment=TRAEFIK_ENTRYPOINTS_websecure_FORWARDEDHEADERS_TRUSTEDIPS=172.16.0.0/24
Environment=TRAEFIK_ENTRYPOINTS_websecure_HTTP_TLS="true"
Environment=TRAEFIK_ENTRYPOINTS_websecure_HTTP_TLS_CERTRESOLVER="letsencrypt"
Environment=TRAEFIK_ENTRYPOINTS_websecure_HTTP2_MAXCONCURRENTSTREAMS="250"
{% if containers_enable_kopia_repo_server %}
# SECURITY: note that this makes this server vulnerable to CVE-2024-28869, but
#           not setting this can break large kopia syncs from clients.
Environment=TRAEFIK_ENTRYPOINTS_websecure_TRANSPORT_RESPONDINGTIMEOUTS_READTIMEOUT=0
{% endif %}
# TODO: Enable when traefik gets socket based HTTP3 support
# Environment=TRAEFIK_ENTRYPOINTS_websecure_HTTP3="true"
# Environment=TRAEFIK_ENTRYPOINTS_websecure_HTTP3_ADVERTISEDPORT="443"
Environment=TRAEFIK_ENTRYPOINTS_websecure_PROXYPROTOCOL_INSECURE=false
Environment=TRAEFIK_ENTRYPOINTS_websecure_PROXYPROTOCOL_TRUSTEDIPS=172.16.0.0/24
Environment=TRAEFIK_PING=true
Environment=TRAEFIK_PROVIDERS_DOCKER="true"
Environment=TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT="false"
Environment=TRAEFIK_PROVIDERS_DOCKER_ALLOWEMPTYSERVICES="true"
Environment=TRAEFIK_PROVIDERS_DOCKER_NETWORK="frontend"
Environment=TRAEFIK_PROVIDERS_DOCKER_WATCH="true"
Environment=TRAEFIK_PROVIDERS_FILE_FILENAME="/etc/traefik/tls_options.yaml"
{% if containers_traefik_skip_https_verify %}
Environment=TRAEFIK_SERVERSTRANSPORT_INSECURESKIPVERIFY=true
{% endif %}

# health check
HealthCmd=traefik healthcheck
HealthInterval=5s
HealthRetries=3
HealthStartPeriod=15s
HealthTimeout=30s

{% if containers_traefik_enable_dashboard %}
# automatically configure traefik to proxy the web service
Label=traefik.enable="true"
# configure the traefik dashboard
Label=traefik.http.routers.dashboard.rule="Host(`traefik.{{ ansible_facts['fqdn'] }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
Label=traefik.http.routers.dashboard.service="api@internal"
Label=traefik.http.routers.dashboard.middlewares="authelia@docker"
Label=traefik.http.routers.dashboard.tls="true"
Label=traefik.http.routers.dashboard.tls.certresolver="letsencrypt"
{% endif %}

# middlewares
Label=traefik.http.middlewares.securityHeaders.headers.browserXssFilter="true"
Label=traefik.http.middlewares.securityHeaders.headers.contentTypeNosniff="true"
Label=traefik.http.middlewares.securityHeaders.headers.customFrameOptionsValue="SAMEORIGIN"
Label=traefik.http.middlewares.securityHeaders.headers.customResponseHeaders.server=""
Label=traefik.http.middlewares.securityHeaders.headers.customResponseHeaders.X-Powered-By=""
Label=traefik.http.middlewares.securityHeaders.headers.forceStsHeader="true"
Label=traefik.http.middlewares.securityHeaders.headers.frameDeny="true"
Label=traefik.http.middlewares.securityHeaders.headers.referrerPolicy="same-origin"
Label=traefik.http.middlewares.securityHeaders.headers.stsIncludeSubdomains="true"
Label=traefik.http.middlewares.securityHeaders.headers.stsPreload="true"
Label=traefik.http.middlewares.securityHeaders.headers.stsSeconds="31536000"
{% if containers_traefik_enable_authelia %}
Label=traefik.http.middlewares.secured.chain.middlewares="securityHeaders,authelia"
{% endif %}

# volumes
Volume=/%t/podman/podman.sock:/var/run/docker.sock:ro
Volume=traefik.volume:/etc/traefik
Volume=%h/containers/config/traefik/tls_options.yaml:/etc/traefik/tls_options.yaml:ro,Z

[Install]
WantedBy=default.target
