# {{ ansible_managed }}
# {{ ansible_fqdn }}
# TODO: it would be nice to have the recent git commit here
# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Container]
Image=docker.io/traefik/whoami
ContainerName=whoami
Network=traefik.network

Label=traefik.enable="true"
Label=traefik.http.routers.whoami.rule="Host(`kanade.mapletree.moe`)"

[Install]
WantedBy=multi-user.target default.target

[Unit]
Description=whoami container
After=traefik.service
