# code: language=ansible

###
### mapletree.moe - system configuration management
### ansible group variables - encrypted
###
---
## NOTE: Prefix all variables here with vault_

## common
vault_common_relay_user: "USERNAME"
vault_common_relay_pass: "PASSWORD"

## containers
vault_containers_db_backup_s3_key_secret: "MY_SECRET"
vault_containers_db_backup_s3_key_id: "MY_ID"
vault_containers_db_backup_rocketchat_webhook_url: "https://example.com"
vault_containers_kopia_s3_key_id: "MY_ID"
vault_containers_kopia_s3_key_secret: "MY_SECRET"
vault_containers_lldap_discord_bot_token: "BOT_TOKEN"

## hardening
vault_hardening_bootloader_password: "PASSWORD"
