{
  "id": "lldap_password_manager",
  "email": "admin+ldap_pass@{{ ansible_domain }}",
  "password": "{{ lldap_password_manager_pass }}",
  "displayName": "LDAP Password Manager",
  "groups": [
    "lldap_password_manager"
  ]
}
