{
  "id": "lldap_bind_user",
  "email": "admin+lldap_bind@{{ ansible_domain }}",
  "password": "{{ lldap_bind_user_pass }}",
  "displayName": "LDAP Bind User",
  "groups": [
    "lldap_strict_readonly"
  ]
}
