# code: language=yaml

###
### mapletree.moe - system configuration management
### containers - image version tracking file
###
---
#
# NOTE: this is not a true docker compose file, and it WILL NOT WORK for
#       starting a compose stack. this is a small hack to attempt to get
#       renovate to detect and update images that are used in quadlets.
#

# yamllint disable rule:line-length
services: # noqa var-naming
  authelia:
    image: docker.io/authelia/authelia:4.39@sha256:e325963609cc928861ffe8130c09111862df88dd8fcafbcd2c47e5ff0a4ae268
  bazarr:
    image: ghcr.io/hotio/bazarr:release@sha256:7e076e992aed467e1c0a6ea7b3dcbfa19899658ae4b84718582e02f4887acf41
  db-backup:
    image: docker.io/tiredofit/db-backup:4.1.21@sha256:36e7888e4887e57e3ab3ec5ecd4782f345226084df6d3fdd93b2d3e4a2162274
  jellyfin:
    image: ghcr.io/hotio/jellyfin:release@sha256:9768184ee30bd955aff1f29c5a8ec13146f229d67bded52c57db66a9a17c8f8f
  jellyseerr:
    image: ghcr.io/hotio/jellyseerr:release@sha256:56e52b1384dcbc6b762c2307c7a1a07ae16c687568954cfbffb64d0b4e809f47
  kopia:
    image: docker.io/kopia/kopia:latest@sha256:615b786bdb46d5a9301338983e8077e5be0f1c643b7a3188c8732989104accf4
  lldap-discord:
    image: docker.io/watlingj/lldap-discord:1.0.2@sha256:e3d99fef4b3c04de5d6c6e701c3819b6c87a734babd23931b591f8c906bf1c27
  lldap:
    image: docker.io/lldap/lldap:stable@sha256:9e605a66c02514bfcffd1b67cafb1e98d50992216bb2871d7ae44622047dd09d
  postgres:
    image: docker.io/postgres:17.4@sha256:fe3f571d128e8efadcd8b2fde0e2b73ebab6dbec33f6bfe69d98c682c7d8f7bd
  prowlarr:
    image: ghcr.io/hotio/prowlarr:release@sha256:12ce9959f5298c08bd4f50f17ab49f85b50b71c1bd6e70898f3042fc9762f773
  qbittorrent:
    image: ghcr.io/hotio/qbittorrent:release@sha256:87173753adf1555770dacbd51ec057daafabb6ad9ea1a67ed89d56d66f4f28a0
  radarr:
    image: ghcr.io/hotio/radarr:release@sha256:e47a9d4d2a8cd457aefced6a734857f6595667fe0ba93cffb7816f8f898c9377
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.4.1@sha256:759540877f95453eca8a26c1a93593e783a7a824c324fbd57523deffb67f48e1
  redis:
    image: docker.io/redis:7@sha256:fbdbaea47b9ae4ecc2082ecdb4e1cea81e32176ffb1dcf643d422ad07427e5d9
  sabnzbd:
    image: ghcr.io/hotio/sabnzbd:release@sha256:778365749e83395af216f326bd2fe13fe65eb502c2be85449ef405c80616a756
  sonarr:
    image: ghcr.io/hotio/sonarr:release@sha256:89c0795ff5fba253a56872cb12834f58085d94035e222875bd25002218682e49
  traefik:
    image: docker.io/traefik:v3.3.5@sha256:104204dadedf5d1284f8ef8f97f705649ac81aa6f7a6c9abf13e2c59245b8abc
  whoami:
    image: docker.io/traefik/whoami:v1.11@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab
